.app-container {
  text-align: center;
  padding: 30px;
}

input[type="file"] {
  margin: 20px 0;
}

.pdf-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
